.app-container {
  height: 100vh;
  display: flex;
}

.sidenav {
  width: 250px;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.main-content {
  padding: 20px;
}

.menu-button {
  margin-right: 16px;
}

.active-link {
  font-weight: bold;
  color: #ff9800;
}
